.achievements-section {
  background: linear-gradient(135deg, #f6f7f8, #d6d8d8);
  position: relative;
  overflow: hidden;
}
.achievement-title {
  font-weight: 800;
  color: #0f172a;
  text-shadow: 0 0 20px #c2d0f1;
  animation: fadeDown 1s ease forwards;
}

.gold-line {
  width: 90px;
  height: 4px;
  background: linear-gradient(90deg, #0f172a, #068199);
  animation: pulseLine 2s infinite ease-in-out;
}

@keyframes pulseLine {
  0% { width: 70px; }
  50% { width: 120px; }
  100% { width: 70px; }
}
.achievement-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px #99afe4;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: fadeUp 0.8s ease forwards;
}

.achievement-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 25px 50px #99afe4;
}
.image-wrapper {
  position: relative;
  width: 100%;
  height: 500px;   /* Fixed equal height */
  overflow: hidden;
  border-radius: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* IMPORTANT */
  object-position: 50% 30%;
  transition: transform 0.6s ease;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.2)
  );
  transform: skewX(-25deg);
}

.achievement-card:hover .image-wrapper img {
  transform: scale(1.1);
}

.achievement-card:hover .image-wrapper::before {
  animation: shine 1s forwards;
}

@keyframes shine {
  100% { left: 125%; }
}
.achievement-card p {
  padding: 18px;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  color: #444;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
